.ce_main {
    width: 10px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);

    color: white;
    background-color: darkcyan;
}

#ce_button {
    padding: 5px 5px;

    border-radius: 10px;

    background-color: darkcyan;

    cursor: pointer;

    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}