.ce_main {
    width: 230px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 15.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    background-color: darkcyan;
}

#ce_name {
    font-size: 25px;
}

#ce_button {
    padding: 10px 10px;

    border-radius: 4px;

    background-color: black;

    cursor: pointer;
}