#container {
    width: 450px;
    height: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    position: absolute;
    z-index: 99999;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    resize: both;
    overflow: auto;
}

#ce_header {
    width: 450px;
    height: 63px;
    text-align: center;
    z-index: 99999;
    color: white;
    background-color: darkcyan;
    border-radius: 4px;
    cursor: move;
    padding: 16px 0;
    font-size: 24px;
    font-family: Arial, sans-serif;
    border: 5px solid #fff;
}

#ce_main_container {
    width: 120px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99999;
    color: white;
    background-color: darkcyan;
    border-radius: 4px;
}

#ce_name {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#ce_input {
    width: 70%;
    border-radius: 4px;
}

#ce_button {
    width: 100px;
    height: 60px;
    text-align: center;
    z-index: 99999;
    color: white;
    border-radius: 4px;
    padding: 15px 8px;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.weight {
    width: 90px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99999;
    color: white;
    background-color: darkcyan;
    border-radius: 4px;
}

#ce_weight {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

#ce_weight_input {
    width: 70%;
    border-radius: 4px;
}

#ce_span {
    width: 49px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99999;
    border-radius: 4px;
    color: white;
    background-color: darkcyan;

}

#ce_name2 {
    font-size: 15px;
    font-family: Arial, sans-serif;
}

#ce_value {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

#toggler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transform: translate(-50%, -50%);
    color: black;
    left: 50%;
    top:16%
}

#ce_button2 {
    border-radius: 4px;
    background-color: #FAFAFA;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

#ce_button3 {
    border-radius: 4px;
    background-color: #FAFAFA;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

#table_category {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_weight {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_score {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_category_1 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_weight_1 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_score_1 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_category_2 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_weight_2 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_score_2 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_category_3 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_weight_3 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_score_3 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_category_4 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_weight_4 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_score_4 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_category_5 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_weight_5 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}

#table_score_5 {
    z-index: 99999;
    background: darkcyan;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding: 0.5rem;
}