.outer_box {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.head {
    width: 235px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: darkcyan;
    border-radius: 4px;
}

#ce_percentage {
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.ce_main {
    width: 120px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 65%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: darkcyan;
    border-radius: 4px;
}

#ce_name {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#ce_input {
    width: 70%;
    border-radius: 4px;
}

.score {
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 4px;
}

#ce_button {
    padding: 15px 8px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.weight {
    width: 90px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: darkcyan;
    border-radius: 4px;
}

#ce_weight {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

#ce_weight_input {
    width: 70%;
    border-radius: 4px;
}

.output_area {
    width: 49px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 58%;
    left: 43.5%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    color: white;
    background-color: darkcyan;

}

#ce_name2 {
    font-size: 17px;
    font-family: Arial, sans-serif;
}

#ce_value {
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.toggler {
    width: 30px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 75%;
    left: 42.4%;
    transform: translate(-50%, -50%);
    color: black;
}

#ce_button2 {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #FAFAFA;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

#ce_button3 {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #FAFAFA;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.category {
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 51%;
    left: 79%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_category_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.category2 {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 51%;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_category2_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.category3 {
    width: 38px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    top: 51%;
    left: 96.3%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_category3_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table1 {
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 67.5%;
    left: 79%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table1_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.table1_2 {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 67.5%;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table1_2_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table1_3 {
    width: 38px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 67.5%;
    left: 96.3%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table1_3_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table2 {
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 84%;
    left: 79%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table2_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.table2_2 {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 84%;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table2_2_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table2_3 {
    width: 38px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 84%;
    left: 96.3%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table2_3_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table3 {
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 100.5%;
    left: 79%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table3_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.table3_2 {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 100.5%;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table3_2_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table3_3 {
    width: 38px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 100.5%;
    left: 96.3%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table3_3_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table4 {
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 117%;
    left: 79%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table4_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.table4_2 {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 117%;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table4_2_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table4_3 {
    width: 38px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 117%;
    left: 96.3%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table4_3_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table5 {
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 133.5%;
    left: 79%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table5_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.table5_2 {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 133.5%;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table5_2_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.table5_3 {
    width: 38px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 133.5%;
    left: 96.3%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: white;
    border-radius: 4px;
}

#ce_table5_3_name {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

